/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    overflow: auto;
    height: 100%;
}

body {
    line-height: 1.5;
    padding: 1rem 2rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

ul,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

fieldset {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
li,
a,
input,
label,
button {
    font-family: var(--font-paragraph);
}

a {
    text-decoration: none;
    color: var(--text-color);
}



/********/
/* Root */
/********/
:root {
    --background-color: #40474F;
    --accent-color: #FECE01;
    --text-color: #000000;

    --borderwidth-input: .1rem;
    --borderradius-input: .3rem;
    --borderradius-button: 5rem;

    --font-headers: 'Poppins', Arial, sans-serif;
    --font-paragraph: 'Poppins', Arial, sans-serif;
}



/********************/
/* Algemene styling */
/********************/
main>section {
    position: relative;
    width: fit-content;
}

/* Tshirt svg */
main svg {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/* Gele buttons */
.index>main a,
.overview>main a,
input[type=submit] {
    background-color: var(--accent-color);
    padding: .5rem 1rem;
    margin: .5rem;
    display: inline-block;
    border-radius: var(--borderradius-button);
    text-align: center;
    min-width: 13rem;
    border: none;
}


/********/
/* Form */
/********/
form {
    max-width: 20rem;
}

form>label {
    margin: .25rem 0;
    display: inline-block;
}

form>fieldset {
    border: none;
    margin: .25rem 0;
}

form>label>select {
    background-color: #ffffff;
    border: var(--borderwidth-input) solid black;
    border-radius: var(--borderradius-input);
    padding: .2rem .5rem;
}

/* Radiobuttons met andere styling */
input[type=radio] {
    appearance: none;
    position: absolute;
}

form>fieldset>label:nth-of-type(2),
form>fieldset>label:nth-of-type(3),
form>fieldset>label:nth-of-type(4) {
    border: var(--borderwidth-input) solid var(--text-color);
    border-radius: var(--borderradius-input);
    padding: .1rem .5rem;
    display: inline-block;
}

form>fieldset>input:checked+label {
    background-color: var(--text-color);
    color: white;
}

input[type=text],
input[type=tel],
input[type=email] {
    border-radius: var(--borderradius-input);
    border: var(--borderwidth-input) solid black;
    padding: 0 .5rem;
    width: 70%;
}

input[type=submit] {
    cursor: pointer;
}

input[type=submit]:hover {
    border: var(--borderwidth-input) solid black;
}



/**********/
/* Header */
/**********/
header>a>h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-headers);
    margin-left: 1rem;
}

header>a>h1>span {
    color: var(--accent-color);
    font-size: 7rem;
    line-height: 1rem;
}



/****************/
/* Index pagina */
/****************/
.index>main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index>main>section>a:nth-of-type(2) {
    background-color: transparent;
    border: .1rem solid var(--accent-color);
}


/********************/
/* Design pagina */
/********************/
.design>main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design>main>section>p {
    color: white;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.design>main>section:first-of-type>img,
.overview>main>section>section:first-of-type>img {
    height: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}